.Footer {
    width: 100%;
    background-color: white;
    display: flex;
    margin: auto 0 0;
    padding: 1rem 2rem;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem);

    span {
        opacity: 0.6;
    }
}

@media (prefers-color-scheme: dark) {
    .Footer {
        background-color: black;
        border-color: #222;
    }
}
